.DS_Store
bin
gen
target
*.keystore
*.swp
*.orig
*.log
*.userprefs
seed.txt
map.txt
.metadata
*.mdf
*.ldf
obj
*.csproj.user
packages
*.suo
*.xccheckout
deriveddata
.nuget
tools-packages
client/dotnet-service
client/web-dotnet/ZUMOAPPNAME/page.tt
client/web-dotnet/ZUMOAPPNAME/styles.css
client/web-dotnet/ZUMOAPPNAME/index.html
client/web-dotnet/ZUMOAPPNAME/index.tt
client/web-dotnet/ZUMOAPPNAME/page.js
